body {
  font-family: sans-serif;
  background: lightgray;
  margin: 0 auto;
  font-size: 12px;
}
.window {
  display: block;
  float: left;
  padding: 20px;
}
.sidebar {
  display: block;
  float: left;
  margin-right: 20px;
}
.sidebar a:visited {
  color: blue;
}
.monitor {
  display: block;
  float: left;
}
.content {
  overflow: hidden;
}
textarea {
  overflow: hidden;
  font-family: monospace;
  resize: none;
  line-break: anywhere;
  border: inset;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#statusbar {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #eeeeee;
  padding: 4px;
}
